.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: black;
    color: white;
  }
  
  .navbar ul {
    display: flex;
    gap: 1.5em;
    list-style: none;
  }
  
  .navbar ul li{
    display: inline-block;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    /* margin-left: 1.5em; */
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
    border-radius: 5px;
  }

  .navbar li:hover {
    background-color: #4895ef;
    cursor: pointer;
  }
  