* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
}

.ako-container {
    display: flex;
    gap: 30px;
}

.ako-page {
    padding: 100px 0 150px;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

.ako-title {
    font-size: 40px;
    font-weight: bold;
    color: #0077cc;
}

.ako-sub {
    font-size: 16px;
    color: #818181;
}

.ako-info-box {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.ako-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ako-info-box h3 {
    font-size: 26px;
    text-align: center;
}

.ako-info-box p {
    font-size: 16px;
    text-align: center;
    color: #585858;
}

.ako-btn {
    background: #0077cc;
    color: white;
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 25px;
    transition: 0.2s;
}

.ako-btn:hover {
    background: #0068b2;
}

/* ------------------ 모달 ------------------------ */

.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal {
    background: #fff;
    width: 420px;
    border-radius: 12px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.modal h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.modal input,
.modal select,
.modal textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.modal textarea {
    height: 120px;
    resize: none;
}

.time-label {
    font-size: 14px;
    margin-top: 5px;
}

.modal-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-buttons button {
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.modal-buttons button:first-child {
    background: #ccc;
}

.modal-buttons button:last-child {
    background: #0077cc;
    color: #fff;
}

/* ------ 완료 모달 ------ */

.done-modal {
    text-align: center;
}

.close-done {
    margin-top: 15px;
    background: #0077cc;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}