  /* ------------------ NAVBAR 기본 스타일 ------------------ */
  .navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 2.5rem;

display: flex;
justify-content: space-between;
align-items: center;

background: rgba(255, 255, 255, 0.75);
backdrop-filter: blur(8px);

  color: #333;
  z-index: 999;
  box-shadow: 0 1px 12px rgba(0,0,0,0.15);
  }

  .navbar .logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  }

  .navbar .logo img {
  width: 140px;
  }

  .navbar ul {
  display: flex;
  gap: 1.2rem;
  list-style: none;
  align-items: center;
  }

  .navbar ul * {
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 10px;
  border: 0;
  background-color: unset;

  font-size: 15px;
  font-weight: 500;
  color: #333;

  cursor: pointer;
  transition: 0.25s ease;
  }

  .navbar ul *:hover {
  color: rgba(72, 149, 239, 0.85);
  box-shadow: 0 4px 12px rgba(72, 149, 239, 0.15);
  transform: translateY(-2px);
  }

  .user-info {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  }

  /* ------------------ 모달 ------------------ */
  .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  }

  .modal-box {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 45px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  height: 250px;
  animation: fadeIn 0.2s ease;
  }

  .modal-box h3 {
  margin-top: 50px;
  font-weight: 500;
  font-size: 18px;
  }

  @keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
  }

  /* ------------------ 사이드바 오버레이 ------------------ */
  .sidebar-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0,0,0,0.3);
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: flex-end;
  transition: opacity 0.3s ease;
  z-index: 1000;
  }

  .sidebar-overlay.active {
  opacity: 1;
  pointer-events: auto;
  }

  /* ------------------ 사이드바 박스 ------------------ */
  .sidebar-box {
  background: #fff;
  width: 300px;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;

  /* 초기 상태: 투명 + 오른쪽 밖 */
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .sidebar-overlay.active .sidebar-box {
  /* 나타날 때: 제자리 + 불투명 */
  opacity: 1;
  transform: translateX(0);
  }

  /* ------------------ 사이드바 버튼 ------------------ */
  .sidebar-btn {
    padding: 10px 0;
  background-color: unset;
  font-size: 16px;
  border: none;
  color: #333;
  cursor: pointer;
  text-align: left;
  }


  .sidebar-box h3 {
  margin-bottom: 16px;
  }
