/* NAVBAR 기본 스타일 */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 0 2.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(8px);

  color: #333;
  z-index: 999;
  box-shadow: 0 1px 12px rgba(0,0,0,0.15);
}

/* 로고 */
.navbar .logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;

  & img {
    width: 140px;
  }
}

/* 전체 메뉴 */
.navbar ul {
  display: flex;
  gap: 1.2rem;
  list-style: none;
  align-items: center;
}

/* 개별 메뉴 */
.navbar ul * {
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 10px;

  font-size: 15px;
  font-weight: 500;
  color: #333;

  cursor: pointer;
  transition: 0.25s ease;
}

/* 메뉴 hover */
.navbar ul *:hover {
  color: rgba(72, 149, 239, 0.85);
  box-shadow: 0 4px 12px rgba(72, 149, 239, 0.15);
  transform: translateY(-2px);
}
